@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
.container-fluid {
    position: absolute;
    background-color: black;
    min-height: 500px;
    min-width: 325px;
    height: 100%;
    width: 100%;
}

.backgroundImages {
    list-style: none;
    color: transparent
}

.backgroundImages li {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0;
}

.backgroundImages li:nth-child(1) {
    background-image: url(../images/image1.jpeg);
}

.backgroundImages li:nth-child(2) {
    background-image: url(../images/image2.jpeg);
}

.backgroundImages li:nth-child(3) {
    background-image: url(../images/image3.jpeg);
}

.backgroundImages li:nth-child(4) {
    background-image: url(../images/image4.jpeg);
}

.backgroundImages li:nth-child(5) {
    background-image: url(../images/image5.jpeg);
}

.backgroundImages li:nth-child(6) {
    background-image: url(../images/image6.jpeg);
}

.backgroundImages li:nth-child(7) {
    background-image: url(../images/image7.jpeg);
}

.backgroundImages li:nth-child(8) {
    background-image: url(../images/image8.jpeg);
}

.backgroundImages li:nth-child(9) {
    background-image: url(../images/image9.jpeg);
}

.backgroundImages li:nth-child(10) {
    background-image: url(../images/image10.jpeg);
}

.fa-bars {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: -250px;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
}

#quote {
    position: absolute;
    width: 100%;
    bottom: 50px;
    left: -2000px;
}

.content {
    position: absolute;
    top: 275px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 0 10px 0 10px;
    width: 95%;
    min-height: 200px;
    max-height: calc(100vh - 350px);
    overflow: auto;
    opacity: 0;
}

#photos img {
    border-radius: 10px;
    max-width: 100%;
    margin: 15px 0 15px 0;
}

#photos img:hover {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    transition: .3s;
}

#connect {
    display: flex;
    flex-direction: column;
}

#connect div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

#connect i {
    color: white;
    font-size: 3em;
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 3em;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    position: absolute;
    top: 275px;
    width: 100%;
}

h2 {
    font-family: 'Rock Salt', cursive;
    font-size: 1.5em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

h3 {
    font-family: 'Rock Salt', cursive;
    color: white;
}

h4 {
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    color: white;
}

h4:hover,
#connect i:hover,
#music i:hover {
    color: red;
    transition: .75s;
}

h5 {
    font-family: 'Rock Salt', cursive;
    font-size: 1.5em;
    padding-top: 30px;
    color: white;
}

h6 {
    font-family: 'Rock Salt', cursive;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

p {
    color: white;
}

a:hover {
    text-decoration: none;
}

@media only screen and (min-width: 576px) {
    #connect i {
        font-size: 8em;
    }
    h2 {
        font-size: 2em;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 5em;
    }
    .content {
        width: 75%;
    }
}

@media only screen and (min-width: 1400px) {
    h1 {
        font-size: 7em;
    }
    h2 {
        font-size: 3em;
    }
    .content {
        width: 60%;
    }
}